.header {
  box-shadow: 0 3px 6px $color-secondary-shadow;
  height: 69px;
}

.header__container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav__list {
  @include tablet {
    display: flex;
    gap: 3rem;
  }
}

.header__logo {
  font-size: 2rem;
}

.list__element {
  display: block;
  font-weight: 700;
  font-size: 0.6875rem;
  letter-spacing: 0.1875rem;
  color: $color-grey;
  padding: 28px 18px 22px;
  text-transform: uppercase;
}

.list__element:hover {
  border-bottom: 4px solid $color-primary;
  color: $color-black;
  }
