.pricing__title {
  text-align: center;
  font-family: $font-secondary;
  font-size: 2.25rem;
  padding-top: 50px;
  padding-bottom: 15px;
  @include tv {
    padding-bottom: 50px;
    padding-top: 100px;
  }
}

.pricing__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  @include tv {
    flex-direction: row;
    height: 525px;
    gap: 60px;
  }
}

.container__small {
  max-width: 375px;
  width: 100%;
  text-align: center;
  border-radius: 18px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .right,
  .left {
    display: flex;
    flex-direction: column;
  }
  .left {
    padding-top: 80px;
  }
  @include tv {
    display: block;
    .left,
    .right {
      padding-top: 0;
    }
  }
}

.container__small:nth-child(1) {
  border: 1px solid $color-red;
}

.container__small:nth-child(2) {
  border: 1px solid $color-primary;
  box-shadow: 5px 10px 27px $color-primary-shadow;
}

.container__small:nth-child(3) {
  border: 1px solid $color-green;
}

.small__title {
  font-family: $font-secondary;
  font-size: 1.25rem;
  font-weight: bold;
  color: #13253B;
  padding-bottom: 15px;
  padding-top: 35px;
}

.container__small:nth-child(2) .small__title {
  font-size: 1.313rem;
}

.small__price {
  font-size: 2.875rem;
  font-weight: 300;
  padding-bottom: 5px;
}

.container__small:nth-child(1) .small__price {
  color: $color-red;
  padding-bottom: 83px;
}

.container__small:nth-child(2) .small__price {
  color: $color-primary;
}

.container__small:nth-child(3) .small__price {
  color: $color-green;
}

.small__offer {
  font-family: $font-secondary;
  font-size: 0.75rem;
  font-weight: 700;
  color: #13253B;
  padding-bottom: 50px;
}

.container__small:nth-child(1) .small__offer {
  padding-bottom: 61px;
}

.container__small span {
  display: inline-block;
  font-size: 0.875rem;
  padding-left: 10px;
  padding-bottom: 20px;
}

.container__small:nth-child(2) span {
  padding-bottom: 25px;
}

.small__span--last {
  margin-bottom: 80px;
}


.checkmark--2 {
  border: 1px solid $color-red;
  width: 11px;
  height: 11px;
  display: inline-block;
  border-radius: 2px;
  position: relative;
}

.checkmark--2::after {
  content: "x";
  position: absolute;
  font-family: $font-secondary;
  font-size: 0.563rem;
  color: $color-red;
  left: 25%;
}

.pricing__btn {
  border-radius: 23px;
  padding: 16px 57px;
  position: absolute;
  top: 94%;
  left: 31%;
}

.container__small:nth-child(1) .pricing__btn {
  background: $color-red;

}

.container__small:nth-child(2) .pricing__btn {
  background: $color-primary;

}

.container__small:nth-child(3) .pricing__btn {
  background: $color-green;

}
