.profit {
  background: $color-light-grey;
}

.profit__container {
  display: flex;
  flex-direction: column;
}

/* First profit box */
.profit__box--first,
.profit__box--second,
.profit__box--third {
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  background: $color-white;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  @include notebook {
    width: 100%;
    height: 370px;
    max-width: 1125px;
    margin: 0 auto 35px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

  }
}

.profit__box--first {
  flex-direction: column-reverse;
  margin-top: 60px;
  @include notebook {
    flex-direction: row;
    margin-top: 100px;

  }
}
.profit__box--second {
  flex-direction: column-reverse;
  @include notebook {
    flex-direction: row-reverse;
  }
}

.profit__box--third {
  flex-direction: column;
  @include notebook {
    flex-direction: row;
    background: $color-light-grey;
    border: none;
  }
}

.box__content--first,
.box__content--second,
.box__content--third {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 35px;
  @include notebook {
    padding-left: 35px;
    max-width: 420px;
    width: 100%;
  }
}

.box__content--second {
  @include notebook {
    padding-right: 35px;
    padding-left: 0;
  }
}

.box__content--third {
  @include notebook {
    max-width: 625px;
    width: 100%;
    max-height: 370px;
    height: 100%;
    background: $color-white;
    border: 1px solid #e8e9ed;
    border-radius: 5px;
    padding: 70px 35px 115px 35px;
  }
}

.content__title {
  font-family: $font-secondary;
  font-size: 2.25rem;
}

.content__text--first,
.content__text--second,
.content__text--third {
  font-size: 1rem;
  line-height: 1.375em;
  padding-top: 30px;

}

.content__text--first::after,
.content__text--second::after,
.content__text--third::after {
  @include notebook {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
    border-radius: 2px;
  }
}

.content__text--first::after {
  background: $color-red;
}
.content__text--second::after {
  background: $color-primary;
}
.content__text--third::after {
  background: $color-green;
}

.visual__img--first {
  max-width: 190px;
  width: 100%;
  vertical-align: middle;
  padding-top: 38px;
  @include notebook {
    max-width: 385px;
    width: 100%;
    padding: 113px 118px 38px 0;
  }
}

.visual__img--second {
  max-width: 175px;
  width: 100%;
  padding-top: 40px;
  @include notebook {
    max-width: 425px;
    width: 100%;
    padding: 29px 0 13px 70px;
  }
}

.box__visual--first,
.box__visual--first img,
.box__visual--second,
.box__visual--second img {
  position: relative;
}



.box__visual--first::before,
.box__visual--second::before {
  content: "";
  display: block;
  position: absolute;
  transform: rotate(45deg);
}


.profit__container .box__visual--first::before {
  border-radius: 41px;
  background: $color-red;
  width: 90px;
  height: 90px;
  right: -5px;
  top: 20px;
  @include notebook {
    height: 180px;
    width: 180px;
    right: 110px;
    top: 60px;
  }
}
.profit__container .box__visual--second::before {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: $color-primary;
  top: 33px;
  @include notebook {
    width: 280px;
    height: 280px;
    left: 70px;
  }
}

.box__visual--third {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e9ed;
  border-radius: 5px;
  max-width: 314px;
  width: 100%;
  max-height: 195px;
  height: 100%;
  background: $color-green;
  @include notebook {
    max-width: 440px;
    width: 100%;
    max-height: 370px;
    height: 100%;
  }
}

.visual__img--third {
  max-width: 295px;
  width: 100%;
  max-height: 210px;
  height: 100%;
  margin: 98px 81px 64px 62px;
}